@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
:root{
    --text-color:#FFFFFF;
    --icon-color:#ACACBE;
    --icon-hover-bg:#5b5e71;
    --placeholder-color:#cccccc;
    --outgoing-chat-bg:#343541;
    --incoming-chat-bg:#444654;
    --outgoing-chat-border:#343541;
    --incoming-chat-border:#444654;
}
.light-mode{
    --text-color:#343541;
    --icon-color:#a9a9bc;
    --icon-hover-bg:#f1f1f3;
    --placeholder-color:#9f9f9f;
    --outgoing-chat-bg:#FFFFFF;
    --incoming-chat-bg:#F7F7F8;
    --outgoing-chat-border:#FFFFFF;
    --incoming-chat-border:#D9D9E3;
}
body{
   background: var(--outgoing-chat-bg);
}
.chat-container{
    max-height: 100vh;
    padding-bottom: 150px;
    overflow-y:auto;
}
.default-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);
}
.default-text h1{
    font-size: 3.0rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.default-text p{
    margin-top: 70px;
    font-size: 4.1rem;
}
.default-text img{
    height: 150px;
    width: 150px;
    border:3px solid var(--incoming-chat-border);
    border-radius: 50%;
    margin-top: 200px; 
}
:where(.chat-container, textarea)::-webkit-scrollbar{
    width:6px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track{
   background: var(--incoming-chat-bg);
   border-radius: 25px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb{
   background: var(--icon-color);
   border-radius: 25px;
}
.chat-container .chat{
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}
.chat-container .chat.outgoing{
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--outgoing-chat-border);
}
.chat-container .chat.incoming{
    background: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}
.chat .chat-content{
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}
.chat .chat-content i{
    font-size: 1.3rem;
    color: var(--icon-color);
    visibility: hidden;
}
.chat:hover .chat-content:not(:has(.typing-animation, .error)) i{
    visibility: visible;
}
.chat .chat-details{
    display: flex;
    align-items: center;
}
.chat .chat-details img {
    width: 55px;
    height: 55px;
    align-self: flex-start;
    object-fit: cover;
    border-radius: 10px;
    border-radius: 25px;
}
.chat .chat-details p{
    white-space: pre-wrap;
    /* border-radius: 10px; */
    font-size: 1.4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 50px 0 25px;
}
.chat .chat-details p.error{
    color : #e55865;
}
.fa-regular{
    user-select: none;
    cursor: pointer;
}
.typing-animation{
    display: inline-flex;
    padding-left: 25px;
}
.typing-animation .typing-dot{
    height: 7px;
    width: 7px;
    opacity:0.7;
    margin: 10px 3px;
    border-radius: 50%;
    background: var(--text-color);
    animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}
@keyframes animateDots {
    0%, 44%{
        transform: translateY(0px);
    }
    22%{
        opacity: 0.4;
        transform: translateY(-6px);
    }
    44%{
       opacity: 0.2;
    }
}
.typing-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}
.typing-container .typing-content{
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.typing-content .typing-textarea{
    width: 100%;
    display: flex;
    position:relative;
}
.typing-textarea textarea{
    width: 100%;
    height: 65px;
    border: none;
    resize: none;
    font-size: 1.5rem;
    max-height:250px;
    overflow-y:auto;
    border-radius: 10px;
    color: var(--text-color);
    padding: 15px 45px 15px 20px;
    background: var(--incoming-chat-bg);
    outline: 1px solid var(--incoming-chat-border);
}
.typing-textarea textarea::placeholder{
    color: var(--placeholder-color);
}
.typing-textarea textarea:valid ~ i{
    visibility: visible;
}
.typing-textarea i{
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;   
}
#send-btn{
    font-size:25px;
}
.typing-content i{
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}
.typing-controls{
    display: flex;   
}
.typing-controls i{
    margin-left: 7px;
    height: 65px;
    font-size: 1.4rem;
    border-radius: 10px;
    background: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}